---
import IconLink from "../components/IconLink.astro";
import Ticker from "../components/Ticker.astro";
import Layout from "../layouts/Layout.astro";

const title = "José Hernández";
const preHeadline = "Hello internet 👋";
const headline = "I'm José.";
const about =
  "I'm a software engineer based in Costa Rica. I am currently working as a Mobile and Web Developer. I am passionate about design, technology and I love to learn new things.";
const github = "https://github.com/josehernandezv";
const youtube = "https://www.youtube.com/@josedev.";
const linkedin = "https://www.linkedin.com/in/joseahernandezv/";
---

<Layout title={title} theme="green">
  <section class="hero container">
    <div class="card headline">
      <h1>
        {preHeadline}<br /><strong>{headline}</strong>
      </h1>
    </div>
    <div class="card">
      <p>
        {about}
      </p>
      <div class="links">
        <IconLink name="github" href={github} target="_blank" color="#FAFBFC" />
        <IconLink
          name="linkedin"
          pack="feather"
          href={linkedin}
          target="_blank"
          color="#0077B5"
        />
        <IconLink
          name="youtube"
          href={youtube}
          target="_blank"
          color="#FF0000"
        />
      </div>
    </div>
    <!-- <div class="button-list">
        <button class="primary">Get started</button>
        <button>Live demo</button>
      </div> -->
  </section>
  <Ticker />
</Layout>

<style>
  @import "open-props/media";

  .hero {
    padding: var(--size-fluid-6) var(--size-fluid-2);
    max-width: var(--size-lg);
    margin-inline: auto;
  }

  .card {
    border: var(--border-size-2) solid var(--stroke);
    padding: var(--size-3);
    display: inline-block;
    box-shadow: var(--shadow);
    background-color: var(--surface);
  }

  .headline {
    border-bottom: 0;
    position: relative;
    top: var(--border-size-2);
  }

  .headline:after {
    content: "";
    position: absolute;
    bottom: calc(var(--border-size-3) * -1);
    left: 0;
    width: 110%;
    height: var(--border-size-3);
    background: var(--surface);
  }

  h1 {
    color: var(--text-2);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-4);
    /* line-height: var(--font-lineheight-0); */
  }

  h1 strong {
    color: var(--text-1);
    font-weight: var(--font-weight-9);
    /* font-size: var(--font-size-fluid-3); */
    /* font-size: var(--font-size-8); */
    font-size: clamp(3.5rem, 10vw, 4.5rem);
  }

  .hero p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);
    margin-block-end: var(--size-3);
  }

  .links {
    display: flex;
    gap: var(--size-4);
  }
</style>
